<div id="scroll2top" style="position:fixed;bottom:150px;right:50px;cursor: pointer;Z-index:9999">
<a title="返回顶部" href="#"><img src="/scroll2top/scrollup.png"/></a>
</div>
<script src="<%- config.root %>scroll2top/scroll2top.js"></script>

